# JWT
JWT_REFRESH_KEY_CUSTOMER=your-customer-refresh-key
JWT_ACCESS_KEY_CUSTOMER=your-customer-access-key

JWT_REFRESH_KEY_SELLER=your-seller-refresh-key
JWT_ACCESS_KEY_SELLER=your-seller-access-key


# PostgreSQL
POSTGRES_DB=Hailow
POSTGRES_USER=Admin
POSTGRES_PASSWORD=your-postgres-password
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

DATABASE_URL=postgres://Admin:your-postgres-password@postgres:5432/Hailow?sslmode=disable


# RabbitMQ
RABBITMQ_USERNAME=Admin
RABBITMQ_PASSWORD=your-rabbitmq-password
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672


# Redis
REDIS_HOST=redis
REDIS_PORT=6379


# Services
AUTH_SERVICE_URL=http://auth-service
PRODUCT_SERVICE_URL=http://product-service
CART_SERVICE_URL=http://cart-service
PAYMENT_SERVICE_URL=http://payment-service


# S3 / Object Storage
S3_ACCESS_KEY_ID=your-s3-access-key-id
S3_SECRET_ACCESS_KEY=your-s3-secret-access-key
S3_REGION=your-s3-region
S3_BUCKET=Hailow
S3_ENDPOINT=your-s3-endpoint


# Auth Service
AUTH_SERVICE_ADDR=0.0.0.0
AUTH_SERVICE_PORT=50001

# ApiGateway
API_GATEWAY_HTTP_PORT=8080
API_GATEWAY_HTTPS_PORT=8081